src/main/mule/invokerest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a7d3800b-0d6e-4a38-927b-decdef2fd780" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="03b42493-4eb0-431d-acab-9a102f4673ee" >
		<http:request-connection host="35.235.91.75" port="8080" >
		</http:request-connection>
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="7f1526a6-5ce0-4223-ab6e-fa59e7fe28f7" >
		<http:request-connection host="35.235.91.75" port="8080" />
	</http:request-config>
	<flow name="invokerestFlow" doc:id="5c575d2f-0b20-4512-9042-7f0778f09b62" >
		<http:listener doc:name="Listener" doc:id="a2fa3159-901a-40ec-b28c-fa3ee8f0fe65" config-ref="HTTP_Listener_config" path="/"/>
		<http:request method="GET" doc:name="Request" doc:id="37ae137a-3f57-4fff-9fc0-6a57c6ff061d" config-ref="HTTP_Request_configuration" path="Registro_Civil/rs/usuario/datos?f=1401277767"/>
	</flow>
	<flow name="invokerestFlow1" doc:id="70f4c498-316f-4201-b344-a69e5c78b2be" >
		<http:listener doc:name="Listener" doc:id="29472bdd-08b1-4699-a39b-5b594f27f23a" config-ref="HTTP_Listener_config" path="/form"/>
		<parse-template doc:name="Parse Template" doc:id="f386b46d-1e69-484a-b27e-6ab15044938c" location="form.html"/>
	</flow>
	<flow name="invokerestFlow2" doc:id="247a9952-06ac-4c35-acf2-c485ad18e70c" >
		<http:listener doc:name="Listener" doc:id="6964ee2a-b569-4163-99b2-bb89ef581ac7" config-ref="HTTP_Listener_config" path="/response"/>
		<logger level="INFO" doc:name="Logger" doc:id="6f3d3d42-8049-4773-acbb-57f361c8174f" message="#[attributes.queryParams.'fname']]"/>
		<parse-template doc:name="Parse Template" doc:id="0d7c8a1c-d633-4ba9-ab5c-b26435fbb678" location="response.html"/>
	</flow>
	<flow name="invokerestFlow3" doc:id="a3e2dc6d-9ca7-418f-85d5-368f54147146" >
		<http:listener doc:name="Listener" doc:id="ab26f572-2d64-48cf-9b3f-37836e55472c" config-ref="HTTP_Listener_config" path="/web"/>
		<http:request method="GET" doc:name="Request" doc:id="d454dd1a-aa7b-444e-aa45-e923da83f781" config-ref="HTTP_Request_configuration" path="Registro_Civil/rs/usuario/datos">
			<http:query-params ><![CDATA[#[output application/java
---
{
	f : attributes.queryParams.'fname'
}]]]></http:query-params>
		</http:request>
	</flow>
	<flow name="invokerestFlow4" doc:id="325ab269-0fa8-4d47-8eac-7c8586a0fedc" >
		<http:listener doc:name="Listener" doc:id="54c87e8c-3857-4666-b263-22c3103e2b9a" config-ref="HTTP_Listener_config" path="/par"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="ae7b3716-d828-45c6-9765-67a79c1dea23" >
			<route >
				<http:request method="GET" doc:name="Request" doc:id="bd46cca7-bb3d-4ef0-9db5-0c1bd54cabd1" config-ref="HTTP_Request_configuration" path="Registro_Civil/rs/usuario/datos?f=1401277767"/>
				<ee:transform doc:name="Transform Message" doc:id="ef826b9a-fe27-44b2-b73b-cfa65df23333" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	apellido: payload.apellido,
	cedula: payload.cedula,
	ciudad: payload.ciudad,
	educacion: payload.educacion,
	estado: payload.estado,
	estado_usuario: payload.estado_usuario,
	fecha_nacimiento: payload.fecha_nacimiento,
	genero: payload.genero,
	nombre: payload.nombre,
	principal: payload.principal,
	secundaria: payload.secundaria,
	telefono: payload.telefono
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="034794a6-702e-4f02-92f1-01d9abe85de4" message="#[payload]"/>
				<parse-template doc:name="Parse Template" doc:id="0e763dbb-0f95-4abd-87dc-3b756ef2f0ef" location="datos.html" />
			</route>
			<route >
				<http:request method="GET" doc:name="Request" doc:id="37ce615b-3cd8-45c3-b620-0ca054a4cb7d" path="Registro_Civil/rs/usuario/datos?f=1401277767" config-ref="HTTP_Request_configuration"/>
				<ee:transform doc:name="Transform Message" doc:id="66a02a04-63ab-4818-b517-52f24983403e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="b3a11259-4944-4d3d-bdc6-f9fdd98cd7a6" message="Hola" />
			</route>
		</scatter-gather>
	</flow>
	<flow name="invokerestFlow5" doc:id="95a830fe-fe49-4ac3-97b9-bf618398d8f4" >
		<http:listener doc:name="Listener" doc:id="19f6e6dc-6490-483e-9861-80bb0564bde3" config-ref="HTTP_Listener_config" path="/sca"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="d350f05e-5bf5-4119-a5fb-41c3501f9127" >
			<route >
				<http:request method="GET" doc:name="Request" doc:id="2a3e6bee-cb8a-4413-abb6-88356f44d374" config-ref="HTTP_Request_configuration1" path="Registro_Civil/rs/usuario/datos">
					<http:query-params ><![CDATA[#[output application/java
---
{
	f : attributes.queryParams.'fname'
}]]]></http:query-params>
				</http:request>
			</route>
			<route >
				<http:request method="GET" doc:name="Request" doc:id="4bac41d2-1a6d-45d4-8535-72d4caa49a3f" config-ref="HTTP_Request_configuration1" path="Peliculas/rs/pelicula/datos">
					<http:query-params ><![CDATA[#[output application/java
---
{
	f : attributes.queryParams.'pname'
}]]]></http:query-params>
				</http:request>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="f869380c-7c2d-4fe5-9018-5806eda22371" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	cedula: payload[0].payload.cedula,
	nombre: payload[0].payload.nombre ++" "++ payload[0].payload.apellido,
	telefono: payload[0].payload.telefono,
	direccion: payload[0].payload.principal ++" "++ payload[0].payload.secundaria,
	datos_detalle:{
		cantidad:1,
		titulo:payload[1].payload.titulo,
		precio:payload[1].payload.precio
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5f97e861-58a3-48c3-bb62-13ec476e60d7" message="#[payload]"/>
		<http:request method="POST" doc:name="Request" doc:id="76dc121c-a146-494e-9853-0218d8e857dd" config-ref="HTTP_Request_configuration1" path="Facturacion/rs/facturacion/guardarFacturas" />
		<ee:transform doc:name="Transform Message" doc:id="654c9471-b9e3-45f9-beb1-1e51fba238b8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	codigo:payload.codigo
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="5fd91b01-fc2c-4cf3-8663-b2c05f554c1a" >
			<when expression="#[payload.codigo==1]">
				<parse-template doc:name="Parse Template" doc:id="bcb4477b-309f-4f93-a320-b6f2afa891e4" location="respuesta.html"/>
			</when>
			<otherwise >
				<parse-template doc:name="Parse Template" doc:id="5fd04c43-cb24-491d-a01e-162577214a55" location="fallido.html"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="invokerestFlow6" doc:id="95ace548-4c7f-4bb3-a18b-b58046d87351" >
		<http:listener doc:name="Listener" doc:id="7dde5bf0-bac6-4649-a3f1-7009d01c6430" config-ref="HTTP_Listener_config" path="/inicio"/>
		<parse-template doc:name="Parse Template" doc:id="3ba1dab6-5064-4f0a-8a5b-4815e0fe39c1" location="formPersona.html"/>
	</flow>
	<flow name="invokerestFlow7" doc:id="7c974ebf-9898-4e84-b553-306587db75a6" >
		<http:listener doc:name="Listener" doc:id="1d579b37-be0b-48cd-ab2a-ddefcc9059cd" config-ref="HTTP_Listener_config" path="/persona"/>
		<http:request method="GET" doc:name="Request" doc:id="5f0e8bc6-892a-4aee-a670-5e94950ff0e2" config-ref="HTTP_Request_configuration1" path="Registro_Civil/rs/usuario/datos">
			<http:query-params ><![CDATA[#[output application/java
---
{
	f : attributes.queryParams.'fname'
}]]]></http:query-params>
		</http:request>
		<choice doc:name="Choice" doc:id="c29ffe5c-7b04-4672-802f-29f63f6729a6" >
			<when expression="#[payload.codigo==1]">
				<ee:transform doc:name="Transform Message" doc:id="ec2bc2eb-7129-449f-b2c5-a7562df2465b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	codigo: payload.codigo,
	persona:{
		cedula:payload.usuario.cedula,
		nombre: payload.usuario.nombre ++" "++ payload.usuario.apellido,
		telefono: payload.usuario.telefono,
		direccion: payload.usuario.principal ++" "++ payload.usuario.secundaria
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<parse-template doc:name="Parse Template" doc:id="a8eaa193-ac35-4742-8882-efca14837161" location="personaPelicula.html" />
			</when>
			<otherwise >
				<parse-template doc:name="Parse Template" doc:id="1bacf561-c78d-4429-9d7f-f6c3c0e6f5c6" location="formPersona.html"/>
			</otherwise>
		</choice>
	</flow>
	<flow name="invokerestFlow8" doc:id="ae97a094-7be7-48b3-8598-c786b1558d22" >
		<http:listener doc:name="Listener" doc:id="afb025aa-db98-4983-9af3-308bdec9fb97" config-ref="HTTP_Listener_config" path="/pelicula"/>
		<set-variable value="#[{
	cedula:attributes.queryParams.'cedula',
	nombre: attributes.queryParams.'name',
	direccion: attributes.queryParams.'direccion',
	telefono: attributes.queryParams.'telefono'
}]" doc:name="Set Variable" doc:id="88a79358-0eb3-40e9-8a74-94bc7e1d549e" variableName="Persona"/>
		<http:request method="GET" doc:name="Request" doc:id="c7a98243-c2ce-4f47-a1d6-bb61b9235926" config-ref="HTTP_Request_configuration1" path="Peliculas/rs/pelicula/datos">
			<http:query-params ><![CDATA[#[output application/java
---
{
	f : attributes.queryParams.'pname'
}]]]></http:query-params>
		</http:request>
		<choice doc:name="Choice" doc:id="93511daf-8d3f-4ce6-a0da-8c7b07a3ad31" >
			<when expression="#[payload.codigo==1]">
				<ee:transform doc:name="Transform Message" doc:id="cd38293c-b3d6-4db3-9539-7bc9e225bf99" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	cedula:vars.Persona.cedula,
	nombre: vars.Persona.nombre,
	telefono: vars.Persona.telefono,
	direccion: vars.Persona.direccion,
	datos_detalle:{
		cantidad:1,
		titulo:payload.pelicula.titulo,
		precio:payload.pelicula.precio
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="POST" doc:name="Request" doc:id="8651dfbe-d8bf-455d-a996-40177cf7ed81" config-ref="HTTP_Request_configuration1" path="Facturacion/rs/facturacion/guardarFactura">
				</http:request>
				<choice doc:name="Choice" doc:id="814e53c9-3777-4057-bcb7-3369e6a2d490" >
					<when expression="payload.codigo==1">
						<parse-template doc:name="Parse Template" doc:id="8e388b1b-7aaa-4a51-a1a3-5fc0f6e11a3a" location="respuesta.html"/>
					</when>
					<otherwise >
						<parse-template doc:name="Parse Template" doc:id="7dfe5a23-d6b9-486a-b7cb-48103761b031" location="fallido.html"/>
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<parse-template doc:name="Parse Template" doc:id="aea770be-64f9-4cd5-a66e-97f3b27760c4" location="personaPelicula.html" />
			</otherwise>
		</choice>
	</flow>
</mule>
